<p style="text-align:center">
  <name>Souvik Datta</name>
</p>
<p style="text-align:center">
  <a href="mailto:souvikdatta123@gmail.com">Email</a> &nbsp/&nbsp
  <a href="data/CV_Souvik_Datta.pdf">CV</a> &nbsp/&nbsp
  <a href="https://github.com/souvik0306">GitHub</a> &nbsp/&nbsp
  <a href="https://scholar.google.com/citations?user=DCqpUvMAAAAJ&hl=en">Google Scholar</a> &nbsp/&nbsp
  <a href="https://www.linkedin.com/in/souvik-datta03/">LinkedIn</a> &nbsp/&nbsp
  <a href="{{ '/index.html' | relative_url }}">Home</a> &nbsp/&nbsp
  <a href="{{ '/personal.html' | relative_url }}">Personal</a> &nbsp/&nbsp
  <a href="{{ '/aviation.html' | relative_url }}">Aviation</a> &nbsp/&nbsp
  <a href="{{ '/slideshow.html' | relative_url }}">Slideshow</a>
</p>
