<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NMPKHLN7DN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-NMPKHLN7DN');
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="author" content="Souvik Datta">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ '/stylesheet.css' | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/images/avatar.png' | relative_url }}">
  {% if page.extra_head %}
  {{ page.extra_head }}
  {% endif %}
</head>
<body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
  {{ content }}
</body>
</html>
